body {
    margin: 10px auto;
    padding: 0;
    width: 980px;
    height: 750px;
    background-color: #CCCCCC;
}

#header {
    margin: 0;
    padding: 0;
    width: 980px;
}

#container {
    margin-top: 0;
    padding-top: 10px;
    width: 980px;
    height: 600px;
    background-color: #FFFFFF;
}

#BodyDetail {
    height: 228px;
    width: 301px;
    margin: 100px auto;
    background-color: #FF6600;
    color: #FFFFFF;
    padding: 10px;
}

#Loginlbl {
    font-size: 25px;
    color: White;
    font-family: Calibri;
}

#MainContent_emaillbl {
    color: White;
    font-family: Calibri;
    font-size: 16pt;
    margin-left: 20px;
    margin-right: 24px;
}

#MainContent_email {
    width: 250px;
    margin-top: 0px;
    margin-left: 20px;
}

#loginBox {
    height: 170px;
    margin-top: 10px;
    width: 300px;
    background-color: #FFCC00;
}

#errorBox {
    text-align: center;
    width: 420px;
}

.errorCredentials {
    font-size: 16px;
    font-family: Calibri;
    color: Red;
}

.errorlbl {
    font-size: 12px;
    font-family: Calibri;
    color: Red;
    margin-left: 8em;
}

#MainContent_useridlbl {
    color: White;
    font-family: Calibri;
    font-size: 16pt;
    margin-left: 20px;
    margin-right: 24px;
}

#MainContent_passwordlbl {
    color: White;
    font-family: Calibri;
    font-size: 16pt;
    margin-left: 20px;
}

#MainContent_password1 {
    width: 250px;
    margin-top: 0px;
    margin-left: 20px;
}

#MainContent_password2 {
    width: 250px;
    margin-top: 0px;
    margin-left: 20px;
}

#passwordConfirm{
    display: none;
}

#MainContent_rememberCheckbox {
    margin-top: 2em;
    margin-left: 3em;
}

#login {
    margin-top: 30px;
    text-align: center;
}

#MainContent_loginButton {
    margin-left: 88px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: black;
}

#forgot {
    text-align: center;
    margin-top: 15px;
}

#MainContent_forgotPassword {
    font-family: Calibri;
    font-size: 16px;
    text-decoration: underline;
    color: #FFFFFF;
    margin-left: 50px;
}

#MainContent_forgotUsername {
    font-family: calibri;
    font-size: 16px;
    text-decoration: underline;
    color: #FFFFFF;
    margin-right: 50px;
}

#emailIDlbl {
    margin-left: 20px;
    color: #FFFFFF;
    font-family: Calibri;
    font-size: 20px;
}

#emailIDtextbox {
    width: 260px;
    margin-left: 15px;
    margin-top: 50px;
}

#usernamelbl {
    margin-left: 20px;
    color: White;
    font-family: Calibri;
    font-size: 20px;
}

#usernametextbox {
    width: 245px;
    margin-left: 15px;
    margin-top: 50px;
}
